{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block page_content %}

<div class="row mb-4">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form class="form-signin" method="POST" action="">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" class="form-control {{' is-invalid' if form.username.errors else ''}}"
                               name="username" type="text" value="{{ request.form.username }}" autofocus>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" class="form-control {{' is-invalid' if form.password.errors else ''}}"
                               name="password" type="password" value="{{ request.form.password }}">
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {{ form.csrf_token }}

                    <button type="submit" class="btn btn-lg btn-info btn-block">Log in</button>

                    <a href="signup" class="btn btn-lg btn-link btn-block">I don't have an account</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}