handler mix

pusharg 0
load
brnull :404

hash
pushn 200
respond

:404
pop
pushn 0
pushn 404
respond

---

handler mixnew

pusharg 0
encode
brnull :400

hash
pushn 200
respond

:400
pop
pushn 0
pushn 400
respond

---

handler memorize

pusharg 0
dup
cmps DUNNO
brnull :normal

pop
pusharg 1
encode
dup
name
dup
load

brnull :save

pushn 409
respond

:save

pop
store
dup

brnull :400

pop
pushn 201
respond

:normal

pop
pusharg 1
encode
swap
dup
load

brnull :save

pop
pop
pushn 0
pushn 409
respond

:400
pop
pushn 0
pushn 400
respond

---

handler list

pusharg 1
pusharg 0
list
brnull :400

pushn 200
respond

:400
pushn 0
pushn 400
respond

---

handler notfound

pushn 0
pushn 404
respond

---

handler badrequest

pushn 0
pushn 400
respond

---